body{
    background-color: antiquewhite;
}
table{
    background-color: aliceblue;
    border-radius: 25px;
    border-color: rgb(214, 176, 176);
    border-style: groove;
    border-width: 10px;
    color: rgb(40, 65, 178);
}
h1{
    background-color: rgb(68, 68, 73);
    color:black;
    text-align: center;
}